<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFhSwcvenG4lYi95Yg_vz5mGL8rWpSvjU</string>
	<key>GCM_SENDER_ID</key>
	<string>1092688689311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aidHealthcare</string>
	<key>PROJECT_ID</key>
	<string>health-app-epiqueai</string>
	<key>STORAGE_BUCKET</key>
	<string>health-app-epiqueai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092688689311:ios:f2f645130403244b630aaa</string>
</dict>
</plist>